{% extends 'base.html.twig' %}

{% block title %}New BancoHoras{% endblock %}

{% block body %}
    <h1>Create new BancoHoras</h1>

    {{ include('banco_horas_controlador2/_form.html.twig') }}

    <a href="{{ path('app_banco_horas_controlador2_index') }}">back to list</a>
{% endblock %}
