{% extends 'base.html.twig' %}

{% block body %}
<h1>Cadastro de Usuário</h1>

<form method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Cadastrar</button>
</form>

{% endblock %}
